<div class="row" id="dietTabs">

    <ul class="nav marron-clair" role="tablist">
      <li role="presentation">
        <a id="ongletRecette" href="#recette" target="_self" aria-controls="recette" role="tab" data-toggle="tab" class="tabDietetique activeLien">Recette coup de coeur</a>
      </li>
      <li role="presentation">
        <a id="ongletConseil" href="#conseil" target="_self" aria-controls="conseil" role="tab" data-toggle="tab" class="tabDietetique">Conseil du jour</a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="recette" role="tabpanel" class="tab-pane fade in active ">
        <div class="row" id="dietTexteRecette">
          <div class="col-xs-6">
            <img class="img-responsive" src="img/recette.jpg">

            <h2>Ingrédients (pour 6 muffins):</h2><br>
            <ul>
              <li>- 140 grs de farine</li>
              <li>- 50 grs de sucre</li>
              <li>- 1 sachet de levure chimique</li>
              <li>- 40 grs de noix de coco en poudre</li>
              <li>- 60 grs de pépites de chocolat noir (il est possible de faire des grosses pépites en coupant du chocolat à patisserie)</li>
              <li>- 1/2 c/c de cannelle</li>
              <li>- 1 c/s de tahin (se trouve en épicerie bio)</li>
              <li>- 10 cl de lait </li>
              <li>- 1 œuf</li>
            </ul>
          </div>
          <div class="col-xs-6">
            <h1>MUFFINS COCO-CHOCOLAT AU TAHIN (sans beurre)</h1>

            <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Nombre de personnes - <span class="glyphicon glyphicon-time" aria-hidden="true"></span> Temps de préparation</p>
            <h2>Etapes:</h2><br>
            <ol>
              <li>Préchauffer le four à 180° (Thermostat 6)</li>
              <li>Mélanger la farine, la noix de coco, la levure, le sucre, le chocolat et la cannelle</li>
              <li>A côté, mélanger le tahin, l’œuf et le lait</li>
              <li>Ajouter les liquides (tahin, œuf et lait) aux ingrédients secs et homogénéiser la pâte</li>
              <li>Etapes 2 Verser dans les moules à muffins et cuire 15-20 minutes</li>
              <li>Attendre qu’ils aient refroidis pour démouler</li>
            </ol>
          </div>
        </div>
      </div>
      <div id="conseil" role="tabpanel" class="tab-pane fade">
        <div id="dietTexteConseil">
          <h1>Limitez au maximum votre consommation de viande rouge</h1>
          <p>
            Il est préférable d’éviter dans tous les cas la viande rouge, même maigre, car le bétail est en général saturé par les hormones et les antibiotiques utilisés par les élevages industriels, notamment parce qu’il faut plus de temps pour élever une vache ou un cochon qu’une poule. De plus cette viande est souvent riche en cholestérol, et il y a un risque d’infection par les prions, en raison de la maladie de la vache folle.

            Au pire, mangez de la viande rouge bio, mais essayez de privilégier la viande blanche et les poissons riches en EPA/DHA, notamment le saumon. Prenez les bio si vous le pouvez.
          </p>
        </div>
      </div>
    </div>

</div>
