<footer class="row footer">
		<ul>
			<li><a href="#/dietetique">Diététique</a></li>
			<li><a href="#/magnetisme">Magnétisme</a></li>
			<li><a href="#/atelier">Mes ateliers</a></li>
			<li><a href="#/contact">Contact</a></li>
			<li><a href="#/apropos">A propos</a></li>
			<li><a href="#/mention">Mentions légale</a></li>
		</ul>
		<ul>
			<li>© 2016 Melina Guillet</li>
			<li><a href="mailto:melinaguillet26@gmail.com"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> E-mail</a></li>
			<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 06.72.31.97.12</li>
		</ul>
		<ul>
			<li><a href="http://www.wildcodeschool.fr/">Développé par la Wild Code School</a></li>
		</ul>
</footer>
