  <header class="row" id="pg-home">

  						<nav class="navbar navbar-default">

  							<div class="navbar-header">
  								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
  									<span class="icon-bar"></span>
  									<span class="icon-bar"></span>
  									<span class="icon-bar"></span>
  								</button>
  								<a class="navbar-brand" href="/">Plus&nbsp;Près&nbsp;de&nbsp;Soi</a>
  							</div>
  							<div class="collapse navbar-collapse" id="myNavbar">
  								<ul class="nav navbar-nav navbar-right">
  									<li><a href="/dietetique">Diététique</a></li>
  									<li><a href="/magnetisme">Magnétisme</a></li>
  									<li><a href="/atelier">Mes ateliers</a></li>
  									<li><a href="/contact">Contact</a></li>
  									<li><a href="/apropos">A propos</a></li>
  								</ul>
  							</div>
  						</nav>

  						<div id="homePhraseAccroche" class="col-xs-6 col-xs-offset-1">
  							<h1>Combien je m'aime ?</h1>
  							<h1 id="decalagePhraseAccroche">Combien je mange ?</h1>
  						</div>
  					</header>
