<div class="row marron descriptifMagnet">
<div class="col-xs-11 col-md-11">
  <h1>{{magnetData[0].titreDescriptif}}</h1>
  <p  ng-bind-html="magnetData[0].texteDescriptif"></p>
</div>
</div>

<div class="row gris-clair approcheMagnet">
<h2 class="text-mag3" >Mon approche du magnétisme et de la libération émotionnelle.</h2>
  <div class="col-xs-4">
  <img class="img-responsive4" src="img/magnetisme2.jpg" >
  </div>

  <div class="col-xs-8 col-md-8">
    <p class="text-mag3" ng-bind-html="magnetData[0].texteApproche"></p>
  </div>
</div>
<div class="row vert">
   <div class="col-xs-offset-3 col-xs-7 audioMag">
    <p class="audioTitre1">Emission radio Grand Ciel  sur la libération émotionnelle.</p>
    <audio controls src="audio/magnetisme.mp3" class="audio">Votre navigateur n'est pas compatible HTML5.</audio>
  </div>
</div>

<div class="row accrocheContact">
  <div class="col-xs-12">
    <h3>Vous avez décidé de prendre soin de vous ? C'est le moment</h3>
    <a class="boutonAccroche hvr-round-corners" ng-click="image.changeImg('/contact')">Me contacter</a>

  </div>

</div>

