<!-- MAP -->
<div class="col-xs-10 col-xs-offset-1  gris-clair contactBlocMap">
  <h1 class="text-align"> Mes points de rendez-vous </h1>
  <h3 class="text-align">Contactez-moi pour prendre rendez-vous. </h3>

  <div class="row">
    <p class="col-xs-5 col-xs-offset-1 contactTxt" ><span class="contactSpan vert"></span>34 rue de la tannerie, Chartres <br> 28000</p>
    <div id="contact_border"></div>
    <p class="col-xs-5 col-xs-offset-1 contactTxt2"><span class="contactSpan2 jaune"></span> 4 Rue du Préau , Berchères-Saint-Germain <br> 28300</p>
  </div>
  
  <div class="row" id="MapBrechere"></div> 
</div>

<script type="text/javascript">
$(document).ready(function(){
	var villes = [
		['Chartres', ',34 rue de la tannerie  28000' ,  48.448452, 1.491448, 'img/markerG.png'],
		['Berchères-Saint-Germain', '7 Rue du Préau 28300', 48.536389, 1.476030, 'img/markerY.png']
	];
	var mapOptions={
		zoom: 9, // 0 à 21
		center: new google.maps.LatLng(48.48,1.48), // centre de la carte
		mapTypeId: google.maps.MapTypeId.ROADMAP, // ROADMAP, SATELLITE, HYBRID, TERRAIN
	}
	var map = new google.maps.Map(document.getElementById("MapBrechere"), mapOptions);
	setMarkers(map,villes);


	function setMarkers(map,locations){
		for(var i=0; i<locations.length; i++){
			var villes = locations[i];
			var myLatLng = new google.maps.LatLng(villes[2],villes[3]);
			var infoWindow = new google.maps.InfoWindow();
			var marker = new google.maps.Marker ({
				position: myLatLng,
				map: map,
				icon: villes[4],
				animation: google.maps.Animation.DROP
			});
			(function(i){
				google.maps.event.addListener(marker, "click", function(){
					var villes = locations[i];
					infoWindow.close();
					infoWindow.setContent('<div style="color:#000;">'+villes[0]+'<br />'+villes[1]+'</div>');
					infoWindow.open(map, this);
				});
			})(i);
		}
	}
});

</script> 



  <!-- Formulaire -->
    <div class="row">
    	<form class="form-horizontal col-xs-10 col-xs-offset-1" role="form" method="post" ng-app="contactApp">

    		<div class="form-group row">
    			<label class="control-label"></label>  
    			<div class="col-sm-6 inputGroupContainer">
    				<div class="input-group">
    					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    					<input  name="first_name" placeholder="Nom" class="form-control"  type="text" maxlength="20" required>
    				</div>
    			</div>
    		</div>

    		<div class="form-group row">
    			<label class="control-label"></label>  
    			<div class="col-sm-6 inputGroupContainer">
    				<div class="input-group">
    					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    					<input  name="first_name" placeholder="Prénom" class="form-control"  type="text" maxlength="20" required>
    				</div>
    			</div>
    		</div>
    		<!-- Text input-->
    		<div class="form-group row">
    			<label class="control-label"></label>  
    			<div class="col-sm-6 inputGroupContainer">
    				<div class="input-group">
    					<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
    					<input name="email" placeholder=" Addresse@mail.com" class="form-control"  type="email" required>
    				</div>
    			</div>
    		</div>
    		
    		<div class="form-group row">
    			<label class=" control-label"></label>
    			<div class="col-sm-6 inputGroupContainer">
    				<div class="input-group">
    					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
    					<textarea class="form-control" placeholder="Votre message ..."  name="comment" required></textarea>
    				</div>
    			</div>
    		</div>

    		<!-- Bouton radio-->
    		<div class="col-sm-offset-1">
    			<div class="radio radio-inline">
    				<input type="radio" id="inlineRadio1" value="option1" name="radioInline" required>
    				<label for="inlineRadio1"> Particulier </label>
    			</div>
    			<div class="radio radio-inline">
    				<input type="radio" id="inlineRadio2" value="option1" name="radioInline" required>
    				<label for="inlineRadio2"> Professionnel </label>
    			</div>
    		</div>
    		<br>
    		<!-- Envoyer-->
    		<div class="form-group">
    			<div class="col-sm-offset-1">
    				<input id="submit" name="submit" type="submit" value="Envoyer" class="btn vert">
    			</div>
    		</div>

    	</form>
    </div>
    