    <!-- Formulaire -->
    <div class="row">
    	<form class="form-horizontal col-xs-10 col-xs-offset-1" role="form" method="post" ng-app="contactApp">

    		<div class="form-group row">
    			<label class="control-label"></label>  
    			<div class="col-sm-6 inputGroupContainer">
    				<div class="input-group">
    					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    					<input  name="first_name" placeholder="Nom" class="form-control"  type="text" maxlength="20" required>
    				</div>
    			</div>
    		</div>

    		<div class="form-group row">
    			<label class="control-label"></label>  
    			<div class="col-sm-6 inputGroupContainer">
    				<div class="input-group">
    					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    					<input  name="first_name" placeholder="Prénom" class="form-control"  type="text" maxlength="20" required>
    				</div>
    			</div>
    		</div>
    		<!-- Text input-->
    		<div class="form-group row">
    			<label class="control-label"></label>  
    			<div class="col-sm-6 inputGroupContainer">
    				<div class="input-group">
    					<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
    					<input name="email" placeholder=" Addresse@mail.com" class="form-control"  type="email" required>
    				</div>
    			</div>
    		</div>
    		
    		<div class="form-group row">
    			<label class=" control-label"></label>
    			<div class="col-sm-6 inputGroupContainer">
    				<div class="input-group">
    					<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
    					<textarea class="form-control" placeholder="Votre message ..."  name="comment" required></textarea>
    				</div>
    			</div>
    		</div>

    		<!-- Bouton radio-->
    		<div class="col-sm-offset-1">
    			<div class="radio radio-inline">
    				<input type="radio" id="inlineRadio1" value="option1" name="radioInline" required>
    				<label for="inlineRadio1"> Particulier </label>
    			</div>
    			<div class="radio radio-inline">
    				<input type="radio" id="inlineRadio2" value="option1" name="radioInline" required>
    				<label for="inlineRadio2"> Professionnel </label>
    			</div>
    		</div>
    		<br>
    		<!-- Envoyer-->
    		<div class="form-group">
    			<div class="col-sm-offset-1">
    				<input id="submit" name="submit" type="submit" value="Envoyer" class="btn vert">
    			</div>
    		</div>

    	</form>
    </div>
    