<!-- Descriptif magnetisme diet -->
<div>
	<div class="row">
		<div class="accueil_txt vert">
			<p ng-bind-html="HomeVueCtrlData[0].txtBgVert"></p>
		</div>
		<center>
			<a ng-click="image.changeImg('/magnetisme')"><button class="accueil_btn_top marron ">
				<p class="acc_btn_top_txt">Magnétisme</p>
			</button></a><br/>
			<a ng-click="image.changeImg('/dietetique')"><button class="accueil_btn_bottom vert">
				<p class="acc_btn_bot_txt">Diététique</p>
			</button></a>
		</center>
		<div class="accueil_txt2 marron">
			<p ng-bind-html="HomeVueCtrlData[0].txtBgMarron"></p>
		</div>
	</div>

	<!-- NEWS -->
	<div id="homeBlocNews" class="row">
		<div class="col-xs-12 col-sm-4 homeNewMarginTop">
			<img src="{{HomeVueCtrlData[1].imgAtelierMois}}" class="img-responsive">
			<h2 class="center bold">L'atelier du mois</h2>
			<p class="center font">{{HomeVueCtrlData[1].txtAtelierMois}}</p>
			<a class="boutonAccroche hvr-round-corners" ng-click="image.changeImg('/atelier')">Mes ateliers</a>

		</div>
		<div class="col-xs-12 col-sm-4 homeNewMarginTop">
			<img src="{{HomeVueCtrlData[1].imgRecette}}" class="img-responsive">
			<h2 class="center bold">Recette "coup de coeur"</h2>
			<p class="center font">{{HomeVueCtrlData[1].txtRecette}}</p>
			<a class="boutonAccroche hvr-round-corners" ng-click="image.changeImg('/dietetique',1,1)">La recette coup de coeur</a>

		</div>
		<div class="col-xs-12 col-sm-4 homeNewMarginTop">
			<img src="{{HomeVueCtrlData[1].imgConseil}}" class="img-responsive">
			<h2 class="center bold">Le conseil du jour</h2>
			<p class="center font">{{HomeVueCtrlData[1].txtConseil}}</p>
			<a class="boutonAccroche hvr-round-corners" ng-click="image.changeImg('/dietetique',2,1)">Le conseil du jour</a>

		</div>
	</div>
</div>
