<div id="homeBlocNews" class="row">
				<div class="col-xs-4">
					<img src="img/homeAtelier.jpg" class="img-responsive">
					<h3 class="center">News: L'atelier du mois</h3>
					<p class="center">Depuis plus de deux siècles, il règne à son sujet une énorme confusion. Des centaines de livres en ont traité, des milliers de débats, de 	colloques ont réuni praticiens et chercheurs pour en parler, sans parvenir à se mettre d'accord sur une explication simple, évidente ou simplement plausible.<p>
						<a class="boutonAccroche hvr-round-corners" href="#/atelier">Mes ateliers</a>

					</div>
					<div class="col-xs-4">
						<img src="img/homeConseil.jpg" class="img-responsive">
						<h3 class="center">News: Le conseil du jour</h3>
						<p class="center">Depuis plus de deux siècles, il règne à son sujet une énorme confusion. Des centaines de livres en ont traité, des milliers de débats, de 	colloques ont réuni praticiens et chercheurs pour en parler, sans parvenir à se mettre d'accord sur une explication simple, évidente ou simplement plausible.<p>
							<a class="hvr-round-corners" href="#/dietetique#conseil">Le conseil du jour</a>

						</div>
						<div class="col-xs-4">
							<img src="img/homeRecette.jpg" class="img-responsive">
							<h3 class="center">News: Recette coup de coeur</h3>
							<p class="center">Depuis plus de deux siècles, il règne à son sujet une énorme confusion. Des centaines de livres en ont traité, des milliers de débats, de 	colloques ont réuni praticiens et chercheurs pour en parler, sans parvenir à se mettre d'accord sur une explication simple, évidente ou simplement plausible.<p>
								<a class="boutonAccroche hvr-round-corners" href="#/dietetique">La recette coup de coeur</a>

							</div>

						</div>
