  <div id="homeBlocNews" class="row">
    <div class="col-xs-4">
      <h3>News: Atelier du moi</h3>
      <p>Depuis plus de deux siècles, il règne à son sujet une énorme confusion. Des centaines de livres en ont traité, des milliers de débats, de 	colloques ont réuni praticiens et chercheurs pour en parler, sans parvenir à se mettre d'accord sur une explication simple, évidente ou simplement plausible.<p>
      </div>
      <div class="col-xs-4">
        <h3>News: conseil du jour</h3>
        <p>Depuis plus de deux siècles, il règne à son sujet une énorme confusion. Des centaines de livres en ont traité, des milliers de débats, de 	colloques ont réuni praticiens et chercheurs pour en parler, sans parvenir à se mettre d'accord sur une explication simple, évidente ou simplement plausible.<p>
        </div>
        <div class="col-xs-4">
          <h3>News: recette du jour</h3>
          <p>Depuis plus de deux siècles, il règne à son sujet une énorme confusion. Des centaines de livres en ont traité, des milliers de débats, de 	colloques ont réuni praticiens et chercheurs pour en parler, sans parvenir à se mettre d'accord sur une explication simple, évidente ou simplement plausible.<p>
          </div>

        </div>
